.portfolio-container {
    display: grid;
    gap: 2.5em;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: var(--container-width-lg);
}

.portfolio-item {
    background: var(--color-bg-variant);
    padding: 1.2em;
    border-radius: 2.0em;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio-item-image {
    border-radius: 1.5em;
    overflow: hidden;
}

.portfolio-item h3 {
    margin: 1.2em 0 1.2em;
}

.portfolio-item-cta {
    display: flex;
    gap: 1.0em;
    margin-bottom: 1.0em;
}


/*---------- Media Queries (Medium Devices) ----------*/

@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2em;
    }
}


/*---------- Media Queries (Small Devices) ----------*/

@media screen and (max-width: 600px) {
    .portfolio-container {
        display: flex;
        flex-direction: column;
    }
}
