.about-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4.0em;
    margin: 0 auto;
    width: var(--container-width-lg);
}

.about-me {
    aspect-ratio: 1/1;
    align-items: center;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    border-radius: 2.0rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-me-image {
    border-radius: 2.0rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about-me-image:hover {
    transform: rotate(0deg);
}

.about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.0rem;
    justify-content: space-between;
}

.about-card {
    align-items: center;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1.0rem;
    display: flex;
    flex-direction: column;
    padding: 1.0rem;
    text-align: center;
    transition: var(--transition);
    width: 25%;
}

.about-card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1.0rem;
}

.about-card h5 {
    font-size: 0.95rem;
}

.about-card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about-content p {
    color: var(--color-light);
    margin: 2.0rem 0 2.6rem;
}


/*---------- Media Queries (Medium Devices) ----------*/

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }

    .about-me {
        margin: 2.0rem auto;
        width: 50%;
    }

    .about-content p {
        margin: 1.0rem 0 1.5rem;
    }
}


/*---------- Media Queries (Small Devices) ----------*/

@media screen and (max-width: 600px) {
    .about-me {
        margin: 0 auto 3.0rem;
        width: 65%;
    }

    .about-cards {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .about-card {
        width: 65%;
    }

    .about-content {
        text-align: center;
    }

    .about-content p {
        margin: 1.0rem 0 1.5rem;
    }
}