footer {
    border: 1px solid white;
    background: var(--color-primary);
    font-size: 0.9rem;
    margin-top: 7.0em;
    padding: 2.0em 0;
    text-align: center;
}

footer a {
    color: var(--color-bg);
}

.footer-logo {
    display: inline-block;
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 2.0em;
}

.permalinks {
    display: flex;
    justify-content: center;
    gap: 2.0em;
    margin-bottom: 2.0em;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1.0em;
    margin-bottom: 2.0em;
}

.footer-socials a {
    background: var(--color-bg);
    border: 1px solid transparent;
    border-radius: 0.7em;
    color: var(--color-white);
    display: flex;
    padding: 0.8em;
}

.footer-socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer-copyright {
    color: var(--color-bg);
    margin-bottom: 8.0em;
}


/*---------- Media Queries (Small Devices) ----------*/

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5em;
    }

    .footer-socials {
        margin-bottom: 2.5em;
    }
}
