.testimonials-container {
    padding: 4.0em;
    width: 50%;
}

.client-avatar {
    aspect-ratio: 1/1;
    border: 0.4em solid var(--color-primary-variant);
    border-radius: 50%;
    margin: 0 auto 1.0em;
    overflow: hidden;
    width: 4.0em;
}

.testimonial {
    background: var(--color-bg-variant);
    border-radius: 2.0em;
    padding: 2.0em;
    text-align: center;
    user-select: none;
    margin-bottom: 3.0em;
}

.client-review {
    color: var(--color-light);
    font-weight: 300;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}
