.experience-container {
    display: flex;
    flex-direction: row;
}

.experience-container > div {
    background: var(--color-bg-variant);
    border: 1px solie transparent;
    border-radius: 2.0rem;
    margin: 1.0rem;
    padding: 2.4rem 5.0rem;
    transition: var(--transition);
}

.experience-container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience-container > div > h3 {
    color: var(--color-primary);
    margin-bottom: 2.0rem;
    text-align: center;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.0rem;
}

.experience-details {
    display: flex;
    gap: 1.0rem;
    padding: 1.0rem;
}

.experience-details-icon {
    color: var(--color-primary);
    margin-top: 6px;
}


/*---------- Media Queries (Medium Devices) ----------*/

@media screen and (max-width: 1024px) {
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .experience-container > div {
        margin: 1.0rem auto;
        padding: 2.0rem;
        width: 80%;
    }

    .experience-content {
        padding: 1.0rem;
    }
}


/*---------- Media Queries (Small Devices) ----------*/

@media screen and (max-width: 600px) {
    .experience-container {
        display: flex;
        flex-direction: column;
    }

    .experience-container > div {
        padding: 2.0rem 1.0rem;
        width: 100%;
    }   
}