nav {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3.0rem;
    bottom: 2.0rem;
    display: flex;
    gap: 0.8rem;
    left: 0;
    margin: 0 auto;
    padding: 1.0rem 1.5rem;
    position: fixed;
    right: 0;
    width: max-content;
    z-index: 2;
}

nav a {
    background: transparent;
    border-radius: 50%;
    color: var(--color-light);
    display: flex;
    font-size: 1.1rem;
    padding: 0.9rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}